<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>html模板</title>
        <link href="css/transition.css" rel="stylesheet" type="text/css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>

    <body>
        <div id="app">
            <div>
                <button @click="show = !show">Toggle</button>
                <transition name="fade">
                    <p v-if="show">hello</p>
                </transition>
                <transition name="ani">
                    <p v-if="show">hello world</p>
                </transition>
            </div>
        </div>
        <script src="js/theVue8.js" type="text/javascript"></script>
    </body>
</html>